* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: 'Urbanist';
  src: url('../assets/font/Urbanist/static/Urbanist-Light.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel_Decorative';
  src: url('../assets/font/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
}

body {
  font-family: 'Urbanist', sans-serif;
}

h1 {
  font-family: 'Cinzel_Decorative';
  color: #191970; /* Bleu nuit */
  font-size: 28px;
  text-align: center;
}

h2 {
  font-family: 'Cinzel_Decorative';
  color: #191970; /* Bleu nuit */
  font-size: 25px;

}

.slick-prev {
  left: 20px; 
  z-index: 2; 
}

.slick-next {
  right: 20px; 
  z-index: 2; 
}


.slick-prev:before,
.slick-next:before {
  color: black; 
}



h3 {
  font-family: 'Cinzel_Decorative';
  color: #191970; /* Bleu nuit */
  font-size: 25px;
} 

h4 {
font-family: 'Urbanist';
font-size: 14;
}

.card-container {
  position: absolute;  /* ou relative */
  transition: transform 0.8s ease-in-out;
  z-index: 10;  /* Assurez-vous que les cartes sont au-dessus des autres éléments */
}

header, .navbar, .banner {
  margin: 0;
  padding: 0;
}
